* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

header {
    background-color: #333;
    color: #fff;
    padding-bottom: 20px;
    text-align: center;
    position: relative;
}

nav {
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

.header-image{
   margin-left: 30%;
    margin-top: 2%;
    max-width: 40%;
}
.icon-image{
    width: 7%;
    height: 7%;
   
}

.image{
    margin-left: 2%;
    padding-top: 0%;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h2 {
    color: #333;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.para{
    text-align: justify;
}

a:link {
     color: white;
     text-decoration: none;
}
/*a:visited { 
    color: rgb(43, 7, 133); 
}*/
a:active { 
    color: red; 
}
a:hover { 
    color: orange; 
    text-decoration: underline;
}


/*style pour le formulaire de contact*/
.formulaire{
    max-width: 40%;
    margin: 1em auto;
    padding: 1em;
    background-color: #fff;
    border-radius: 0.5em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
form {
    display: grid;
    gap: 10px;
}

.lab {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
input[type="checkbox"] {
    margin-right: 5px;
    vertical-align: middle;
}
.radio-container{
    margin-left: 25%;
    margin-top: -3.5%;
    display: flex;

}

.radio-cont{
margin-top:1.5%;
display: flex;
}


button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}


/*style pour la page accueil*/
.ligne:after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 0.5%;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.corps {
    font-family: "Lucida Sans", sans-serif;
    max-width: 100%;
   
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.texte {
    text-align: justify;
    float: left;
    padding: 0.5%;
}
.entete {
    text-align: center;
    margin-bottom: 2em;
}

.accueil {
    max-width: 100%;
    margin: 1.5% auto;
    padding: 1.5%;
    background-color: #fff;
    border-radius: 0.5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

video{
    max-width: 100%;
    margin-left: 5%;
}
.video-complete{
    text-align: center;
}

.citationn{
    margin-left: 16.66%;
}
.citat{
    padding: 0.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.section-texte {
    margin-left: 8%;
}

.section-video {
    margin-left: 4%;
}

.titre {
    text-align: center;
}


.tab{
    margin-left: 16.66%;
}
.titre-tab{
    text-align: center;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    border: 1px solid #333;
    padding: 10px;
    text-align: left;
}

caption {
    font-weight: bold;
    margin-bottom: 10px;
}


/* Styles pour la citation */
blockquote {
    margin: 20px 0;
    padding: 10px;
    background-color: #eee;
}

@media screen and (max-width: 600px) {
    /* Styles pour les écrans plus petits (mobiles) */
    header {
        padding: 10px;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        margin: 5px 0;
    }

    

    main {
        padding: 10px;
    }
    form {
        grid-template-columns: 1fr;
    }

    .formulaire{
        max-width: 100%;
    }

    .radio-container{
        padding: 0.5em;
        display: flex;
        margin-left: 0;
    
    }
    
    .radio-cont{
   padding: 0.5em;
    display: flex;
    }

    .section-texte {
        width: 80%;
    }
    
    .section-video {
        width: 80%;
    }

    table {
        border: 1px solid #333;
        width: 100%;
    }

    th, td {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }

    th {
        background-color: #f2f2f2;
    }
    footer{
        width: 100%;
    }
}
